/*
 *
 * $Cards
 *
*/

/* Main wrapper for screens */
.cardsContainer {
  position: relative;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 
100px Safe Zone tester
.cardsContainer:after {
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
    height:100px;
    display: block;
    content:'';
    background-color: red;
} */

/* Standard HD - Live IPTV */
.cardsContainer--live-iptv {
  width: 1920px;
  height: 1080px;
  padding-top: 3em;
}

/* Standard HD - Bowl */
.cardsContainer--bowl {
  width: 1920px;
  height: 1080px;
  padding-top: 4.2em;
  background-image: url("../../images/bg-1920-1080-safe-zone.jpg");
}

/* Standard HD - HSBC */
.cardsContainer--hsbc {
  padding-top: 4.2em;
  background-image: url("../../images/bg-1920-1080-bowl-hsbc.jpg");
}

/* Standard HD - NFL */
.cardsContainer--nfl {
  padding-top: 4.2em;
  background-image: url("../../images/bg-1920-1080-bowl-nfl.jpg");
}

/* 4K */
.cardsContainer--te-media-cafe {
  width: 3840px;
  height: 2160px;
  padding-top: 6em;
}

/* Ticker tape */
.cardsContainer--ticker-tape-vertical {
  width: 600px;
  height: 3840px;
  padding-top: 3em;
}

/* Ticker tape */
.cardsContainer--ticker-tape-banquet {
  width: 3840px;
  height: 600px;
  padding-top: 4.7em;
}

/* Card items */
.cards {
  position: relative;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: space-evenly;
  z-index: 1;
}

.cardsHeroActive .card:not(:last-of-type) {
  /* Fade out all cards other than hero card */
  opacity: 0.35 !important;
}

/* Single Cards - see bottom of file for variations */
.card {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  /* overflow: hidden; */
  transition: all 1s ease;
  perspective: 1000px;
}
.card:nth-of-type(3),
.card:nth-of-type(4) {
  margin-bottom: 0;
}

/* Hero Card */
.card:last-of-type {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-bottom: 0;
  width: 100%;
  flex-direction: row-reverse !important;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0, 0);
  transition: all 0.5s ease-in-out;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  transform-origin: center center;
  z-index: 3;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.45s ease;
  transform-style: preserve-3d;
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #f6f6f6;
  border: 5px solid #ddd;
  overflow: hidden;
}

.cardFront {
  z-index: 2;
}

.cardBack {
  transform: rotateY(180deg);
  z-index: 1;
}

.cardContent {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
}
.card:nth-of-type(odd) .cardBack .cardContent {
  flex-direction: row-reverse;
}
.card:nth-of-type(even) .cardFront .cardContent {
  flex-direction: row-reverse;
}

/* Image */
.cardImage {
  width: 45%;
  margin-bottom: 0;
  object-fit: cover;
}
.cardImage--full-bleed {
  position: absolute;
  top:50%;
  left:50%;
  width: 100%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.cardText {
  width: 55%;
  padding: 1.6em;
}

.card p {
  font-size: 1.35em;
  text-align: left;
  line-height: 1.25;
  margin-bottom: 0;
  color: #030303;
}

.cardLink {
  color: #3db7e4;
  font-weight: bold;
}

.cardFooter {
  display: block;
  width: 100%;
  padding: 1.5em 1em 1.3em;
  background-color: #080d2a;
}

.cardFooter p {
  margin-bottom: 0;
  font-family: "Spurs", Arial, Helvetica, sans-serif;
  font-size: 2.8em;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.cardFooter span {
  color: #3db7e4;
}

.cardFooter em {
  position: relative;
  top: 13px;
  font-size: 3.6rem;
  font-style: normal;
}

.cardFooter__img {
  display: block;
  width: 230px;
  height: auto;
  margin: 0 auto;
}


/* 
 * Slogan 
 * - hastag img
 */
.slogan {
  position: absolute;
  display: block;
  left:50%;
  transform: translateX(-50%);
  bottom:2.2em;
  width:300px;
  height:auto;
}
.slogan--spur-her-on {
  bottom: 5.6em;
  width:360px;
}


.logo-hsbc {
  position: absolute;
  display: block;
  width: 1780px;
  height: auto;
  bottom:5.3em;
  left:4em;
}


/* 
 * 
 * Card Variations 
 *
 */

/* Live IPTV */
.cardsContainer--live-iptv .card {
  width: 50%;
  max-width: 880px;
  height: 400px;
  margin-bottom: 2.8em;
}

.cardsContainer--live-iptv .card:last-of-type {
  width: 100%;
  max-width: 970px;
  height: 600px;
}

.cardsContainer--live-iptv .cardImage {
  height: 400px;
}
.cardsContainer--live-iptv .card:last-of-type .cardImage {
  height: 490px;
}

.cardsContainer--live-iptv .cardText {
  padding: 1.6em;
}

.cardsContainer--live-iptv .card p {
  /* The base font size for card fonts,
     * card.js component controls size within this 
     * when less/more content
     */
  font-size: 1.7em;
}

.cardsContainer--live-iptv .card:last-of-type .cardText p {
  font-size: 1.6em;
}

.cardsContainer--live-iptv .cardFooter p {
  font-size: 2.8em;
}

/* ICC */
.cardsContainer--icc .cards {
  /* Variation for the ICC screen 
    (due to different video design) */
  width: 95%;
  margin: 20px auto 0;
}

.cardsContainer--icc .card {
  width: 46.5%;
  margin-bottom: 2.4em;
}

.cardsContainer--icc .card p {
  color: #000;
}

.cardsContainer--icc .cardFront,
.cardsContainer--icc .cardBack {
  border-color: #b08b42;
}

.cardsContainer--icc .cardFooter {
  background-color: #e6e6e6;
}

.cardsContainer--icc .cardFooter p {
  font-family: "ICC Trophy", Arial, Helvetica, sans-serif;
  font-size: 3.6em;
  color: ;
}

.cardsContainer--icc .cardFooter span {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #b08b42;
}

.cardsContainer--icc .cardLink {
  color: #b08b42;
}

/* Bowl */
.cardsContainer--bowl .card {
  width: 100%;
  max-width: 1780px;
  height: 800px;
}

.cardsContainer--bowl .cardFront,
.cardsContainer--bowl .cardBack {
  border-width: 8px;
}

.cardsContainer--bowl .cardImage {
  height: 800px;
}

.cardsContainer--bowl .cardText {
  padding: 3.4em;
}

.cardsContainer--bowl .card p {
  /* The base font size for card fonts,
     * card.js component controls size within this 
     * when less/more content
     */
  font-size: 3.4em;
}


/* NFL */
.cardsContainer--nfl .cardLink {
  color: #013369;
}


/* TE & Media Cafe */
.cardsContainer--te-media-cafe .card {
  width: 50%;
  max-width: 1760px;
  height: 800px;
  margin-bottom: 5.6em;
}
.cardsContainer--te-media-cafe .card:last-of-type {
  max-width: 2160px;
  height: 1120px;
}

.cardsContainer--te-media-cafe .cardFront,
.cardsContainer--te-media-cafe .cardBack {
  border-width: 8px;
}

.cardsContainer--te-media-cafe .cardImage {
  height: 800px;
}
.cardsContainer--te-media-cafe .card:last-of-type .cardImage {
  height: 1120px;
}

.cardsContainer--te-media-cafe .cardText {
  padding: 3.2em;
}

.cardsContainer--te-media-cafe .card p {
  /* The base font size for card fonts,
     * card.js component controls size within this 
     * when less/more content
     */
  font-size: 3.5em;
}

/* Ticker Tape Vertical */
.cardsContainer--ticker-tape-vertical .card {
  width: 100%;
  max-width: 500px;
  height: 830px;
  margin-bottom: 3.2em;
}
.cardsContainer--ticker-tape-vertical .card:nth-of-type(2) {
  margin-bottom: 16em;
}

.cardsContainer--ticker-tape-vertical .cardFront,
.cardsContainer--ticker-tape-vertical .cardBack {
  border-width: 8px;
}

.cardsContainer--ticker-tape-vertical .cardImage {
  width: 100%;
  height: 460px;
}

.cardsContainer--ticker-tape-vertical .cardText {
  width: 100%;
  padding: 1.2em;
}

.cardsContainer--ticker-tape-vertical .card p {
  /* The base font size for card fonts,
     * card.js component controls size within this 
     * when less/more content
     */
  font-size: 1.8em;
}

/* Ticker Tape Banquet */
.cardsContainer--ticker-tape-banquet .card {
  width: 25%;
  max-width: 870px;
  height: 430px;
}
.cardsContainer--ticker-tape-banquet .card:nth-of-type(2) {
  margin-right: 5.4em;
}

.cardsContainer--ticker-tape-banquet .cardFront,
.cardsContainer--ticker-tape-banquet .cardBack {
  border-width: 8px;
}

.cardsContainer--ticker-tape-banquet .cardImage {
  width: 48%;
  height: 500px;
}

.cardsContainer--ticker-tape-banquet .cardText {
  width: 52%;
  padding: 1.2em;
}

.cardsContainer--ticker-tape-banquet .card p {
  /* The base font size for card fonts,
     * card.js component controls size within this 
     * when less/more content
     */
  font-size: 1.9em;
}

/* Card Animations */
@keyframes scaleInFlip {
  from {
    transform: scale(0.4, 0.4) rotateY(0deg);
  }
  to {
    transform: scale(1, 1) rotateY(0deg);
  }
}
@keyframes scaleInFlipReverse {
  from {
    transform: scale(0.4, 0.4) rotateY(180deg);
  }
  to {
    transform: scale(1, 1) rotateY(180deg);
  }
}

@keyframes scaleOutFlip {
  from {
    transform: scale(1, 1) rotateY(0deg);
  }
  to {
    transform: scale(0.4, 0.4) rotateY(0deg);
  }
}
@keyframes scaleOutFlipReverse {
  from {
    transform: scale(1, 1) rotateY(180deg);
  }
  to {
    transform: scale(0.4, 0.4) rotateY(180deg);
  }
}

@keyframes flip {
  from {
    transform: rotateY(0deg) scale(0.4, 0.4);
  }
  to {
    transform: rotateY(180deg) scale(0.4, 0.4);
  }
}
@keyframes flipReverse {
  from {
    transform: rotateY(180deg) scale(0.4, 0.4);
  }
  to {
    transform: rotateY(0deg) scale(0.4, 0.4);
  }
}
