/*
 *
 * $Button
 *
*/

.button {
    clear: both;
    display: block;
    margin:0 auto 1.4em;
    width: 280px;
    font-size: 1.1em;
    color: #3db7e4;
    padding: .6em .8em .5em;
    text-decoration: none;
    border: 1px solid #3db7e4;
    border-radius: .15em;
}